body{
    background-color: black;
}
h1,h2{
 font: xx-large;
}
h1{
    color:gold;
    
}
h2{
    color: blue;
}
h3{
    color:turquoise;
}
h4{
    color: chartreuse;
}
h5{
    color: brown;
}
h6{
    color: violet;
}